<div class="bg-gradient-primary bgImgLogin vh-100 d-flex justify-content-center">
    <div class="container logInWidth align-items-center justify-content-center d-flex">

        <div class="row justify-content-center">
            <div class="col-12">
             <% if flash[:notice] %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= flash[:notice] %>
                    </div>
                    <% elsif flash[:alert] %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= flash[:alert] %>
                    </div>
                    <% end %>
                <div class="card o-hidden border-0 my-5 radiusLogin">
                    <div class="card-body p-0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-12 h-100">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <h1 class="h4 text-gray-900 loginText">Login to Admin</h1>
                                        <p class="descOflogin">
                                            Please enter your email and password to continue
                                        </p>
                                    </div>
                                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                                    <div class="form-group">
                                        <div class="emailLogin mb-3">
                                            <%= f.label :email, "Email Address:", class: "" %>
                                        </div>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control emailBgLogin", placeholder: "Email here..." %>
                                    </div>

                                    <div class="form-group">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="emailLogin">
                                                <%= f.label :password, "Password", class: "" %>
                                            </div>

                                        </div>
                                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control emailBgLogin", placeholder: "Password" %>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck" %>
                                            <%= f.label :remember_me, "Remember Password", class: "custom-control-label rememberPassLogin", for: "customCheck" %>
                                        </div>
                                    </div>
                                    <div class="justify-content-center d-flex py-3">
                                        <%= f.submit "Sign In", class: "btn btn-primary w-75 signInText py-3" %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>