<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - <%= content_for?(:title) ? yield(:title) : "Dashboard" %></title>
    <%= stylesheet_link_tag "active_admin" %>
    <%= csrf_meta_tags %>
</head>

<body>
    <% if current_admin_user.present? %>
    <div id="page-top" cz-shortcut-listen="true">
        <div id="wrappers">
            <%= render 'common/admin_side_bar' %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <button id="sidebarToggleTop" class="btn btn-link d-b-sm rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="container-fluid mt-2">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%else%>
    <%= yield %>
    <% end %>

</body>

</html>